@import '../../variables.css';

.dropdown {
    position: relative;
    outline: none;
    font-size: var(--font-size-small);
    line-height: var(--icon-size);

    &.disabled {
        color: var(--color-disabled-text);
    }
}

.selectedItem {
    padding: 3px;
}

.list {
    position: absolute;
    z-index: var(--z-index-high);
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 50vh;
    width: max-content;
    border: 1px solid var(--color-magenta);
    border-top: none;
    background-color: var(--color-dark-blue);
    box-shadow: var(--shadow-2p);
    color: var(--color-magenta);
    list-style: none;
    transition-delay: var(--animation-duration);
    transition-timing-function: var(--animation-curve-default);
    transition-duration: var(--animation-duration);
    transition-property: max-height, border-color, border-bottom-width;

    & li {
        padding: 3px 2px;

        &:hover,
        &.selected {
            background-color: var(--color-magenta);
            color: var(--color-white);
        }

        &.disabled {
            color: var(--color-disabled-text);

            &:hover,
            &.selected {
                background-color: transparent;
            }
        }
    }

    &.hidden {
        max-height: 0;
        border-bottom-width: 0;
    }
}
