@import '../../variables.css';

:root {
    --step-icon-size: 20px;
    --step-indicator-padding: 5px;
    --step-indicator-border-size: 2px;
    --step-indicator-size: calc(var(--step-icon-size) + (var(--step-indicator-padding) * 2) + var(--step-indicator-border-size));
}

.stepper {
    display: flex;
    padding: 0;
    width: 100%;
}

.step {
    position: relative;
    display: grid;
    grid-gap: 0.5rem 0;
    width: 100%;
    color: var(--color-gradient-claret);
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-tiny);
    justify-items: center;

    &:not(:first-child)::before {
        position: absolute;
        top: calc(var(--step-indicator-size) / 2);
        left: calc(-50% + var(--step-indicator-size) / 2 + var(--step-indicator-border-size) / 2);
        width: calc(100% - var(--step-indicator-size) - var(--step-indicator-border-size));
        height: var(--step-indicator-border-size);
        background:
            linear-gradient(
                to right,
                var(--color-white) 50%,
                var(--color-gradient-claret) 50%
            );
        background-position: 100%;
        background-size: 200%;
        content: '';
        transition: background var(--animation-duration) var(--animation-curve-default);
    }

    &.active {
        color: var(--color-white);

        & .stepIcon {
            border-color: var(--color-white);
        }

        &::before {
            background-position: 0;
        }
    }
}

.stepIcon {
    padding: var(--step-indicator-padding);
    border: var(--step-indicator-border-size) solid var(--color-gradient-claret);
    border-radius: 50%;
    background-color: transparent;
    color: inherit;
    transition: transform var(--animation-duration) var(--animation-curve-default);

    &:focus,
    &:hover {
        outline: none;
        cursor: pointer;
        transform: scale(1.1);
    }
}
