@import '../../variables.css';

:root {
    --appbar-color: var(--color-dark-blue);
    --appbar-gap-size: 5px;
}

.appBar {
    z-index: var(--z-index-high);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: var(--appbar-color);

    &:not(.flat) {
        box-shadow: var(--shadow-4p);
    }
}

.counter {
    margin-right: 20px;
}

.rightAligned {
    margin: var(--appbar-gap-size) 0 var(--appbar-gap-size) auto;
}

.search {
    margin: var(--appbar-gap-size) 20px;
}

.barNavigation {
    color: var(--appbar-color);
}

@media screen and (max-width: 712px) {
    .appBar {
        justify-content: space-around;
    }

    .rightAligned {
        margin: var(--appbar-gap-size) 0;
    }
}
