@import '../../variables.css';
@import '../../components/Button/buttonVariants/halo.css';

:root {
    --pagination-margin: 24px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.paginationItem {
    margin-top: 8px;
    margin-bottom: 8px;

    &:nth-child(n+2) {
        margin-left: var(--pagination-margin);
    }
}
