@import '../../variables.css';

.autoComplete {
    position: relative;
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    text-transform: none;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: var(--z-index-higher);
    width: 100%;
    color: var(--color-text);
}

.listBox {
    margin: 4px -1px;
    padding: 0;
    border: 1px solid var(--color-magenta);
    border-radius: 5px;
    background: var(--color-dark-blue);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
    font-size: var(--font-size-small);
}

.suggestionItem {
    padding: 6px 8px;
    border-bottom: 1px solid var(--color-magenta);

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background: var(--color-magenta);
        cursor: pointer;
    }

    &.active {
        background: var(--color-magenta);
    }

    & mark {
        background: none;
        color: var(--color-orange);
        text-decoration: underline;
        font-weight: var(--font-weight-semi-bold);
    }
}
