@import '../../variables.css';

:root {
    --button-size: 30px;
    --button-padding: 5px;
    --button-border-radius: 3px;
}

.viewToggleButton {
    position: relative;
    float: right;
    height: var(--button-size);
    border-radius: var(--button-border-radius);
    background-color: var(--color-gradient-claret);

    &.active {
        &::before {
            border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
            background-color: var(--color-orange);
            animation: contract 1s ease-in-out forwards;
        }
    }

    &::before {
        position: absolute;
        width: var(--button-size);
        height: var(--button-size);
        border-top-left-radius: var(--button-border-radius);
        border-bottom-left-radius: var(--button-border-radius);
        background-color: var(--color-magenta);
        content: '';
        transition-timing-function: var(--animation-curve-default);
        transition-duration: 1s;
        transition-property: left, background-color, border-radius;
        animation: expand 1s ease-in-out forwards;
    }
}

.toggleButton {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: var(--button-padding);
    width: var(--button-size);
    height: var(--button-size);

    & input {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
        opacity: 0;
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        content: '';
        transition-timing-function: var(--animation-curve-default);
        transition-duration: var(--animation-duration);
        transition-property: height;
    }

    &.magenta {
        border-top-left-radius: var(--button-border-radius);
        border-bottom-left-radius: var(--button-border-radius);

        &::before {
            background-color: var(--color-orange);
        }
    }

    &.orange {
        border-top-right-radius: var(--button-border-radius);
        border-bottom-right-radius: var(--button-border-radius);

        &::before {
            background-color: var(--color-magenta);
        }
    }

    &:focus-within,
    &:hover {
        &::before {
            height: 2px;
        }
    }
}

@keyframes expand {
    0% {
        right: 0;
        width: var(--button-size);
    }

    25% {
        right: 0;
        width: 100%;
        border-radius: var(--button-border-radius);
    }

    50% {
        right: auto;
        left: 0;
        width: 100%;
        border-radius: var(--button-border-radius);
    }

    100% {
        left: 0;
        width: var(--button-size);
    }
}

@keyframes contract {
    0% {
        left: 0;
        width: var(--button-size);
    }

    25% {
        left: 0;
        width: 100%;
        border-radius: var(--button-border-radius);
    }

    50% {
        right: 0;
        left: auto;
        width: 100%;
        border-radius: var(--button-border-radius);
    }

    100% {
        right: 0;
        width: var(--button-size);
    }
}
