@import '../../variables.css';

:root {
    --button-border-radius: 18px;
    --button-padding: 5px;
}

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    box-sizing: border-box;
    outline: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: inherit;
    font-family: inherit;
    line-height: 1.6em;
    cursor: pointer;

    &.circle {
        padding: var(--button-padding);
        border-radius: var(--button-border-radius);
    }

    &.square {
        padding: 3px;
        border-radius: 3px;
    }

    &.stadium {
        padding: var(--button-padding) 1.5rem;
        border-radius: var(--button-border-radius);
        font-size: var(--font-size-small);
    }

    &.shadowInner {
        box-shadow: var(--shadow-4p-inset);
    }

    &.shadowOuter {
        box-shadow: var(--shadow-4p);
    }

    &.disabled {
        cursor: not-allowed;
    }

    &.magenta {
        background-color: var(--color-magenta);

        &:focus:not(.disabled),
        &:hover:not(.disabled) {
            background-color: var(--color-hover-magenta);
        }

        &.disabled {
            &.dark {
                background-color: var(--color-disabled-magenta);
                color: var(--color-disabled-dark-blue);
            }

            &.light {
                background-color: var(--color-white-a30);
                color: var(--color-disabled-text);
            }
        }
    }

    &.orange {
        background-color: var(--color-orange);

        &:focus:not(.disabled),
        &:hover:not(.disabled) {
            background-color: var(--color-hover-orange);
        }

        &.disabled {
            &.dark {
                background-color: var(--color-disabled-orange);
                color: var(--color-disabled-dark-blue);
            }

            &.light {
                background-color: var(--color-white-a30);
                color: var(--color-disabled-text);
            }
        }
    }

    &.white {
        background: var(--color-white-a60);
        color: var(--color-dark-blue-a60);

        &:focus,
        &:hover {
            background-color: var(--color-white);
        }
    }

    &.transparent {
        transition-timing-function: var(--animation-curve-default);
        transition-duration: var(--animation-duration);
        transition-property: background-color;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: var(--color-orange);
            content: '';
            transition-timing-function: var(--animation-curve-default);
            transition-duration: var(--animation-duration);
            transition-property: height;
        }

        &:focus:not(.disabled),
        &:hover:not(.disabled) {
            &::before {
                height: 2px;
            }
        }

        &.active {
            background-color: var(--color-magenta);
        }

        &.disabled {
            fill-opacity: 0.38;

            &.active {
                background-color: var(--color-disabled-magenta);
            }
        }
    }
}

.label {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
