@import '../../variables.css';

:root {
    --input-label-float-font-size: 10px;
    --input-label-offset: 3px;
    --input-label-bottom: calc(
        -1 * (2 * var(--input-label-offset) + var(--input-label-float-font-size))
    );
}

.input {
    position: relative;

    &.withLabel {
        margin-bottom: var(--input-label-float-font-size);
    }
}

.inputField {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border-top: 1px solid transparent;
    border-right: 0;
    border-bottom: 1px solid var(--color-orange);
    border-left: 0;

    &.multiline {
        width: 100%;
    }
}

.inputElement {
    z-index: 1;
    min-width: inherit;
    max-width: 100%;
    width: 100%;
    outline: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    resize: none;

    &.center {
        text-align: center;
    }

    &.left {
        text-align: left;
    }

    &.filled ~ .label {
        bottom: var(--input-label-bottom);
        font-size: var(--input-label-float-font-size);
    }

    &.numberInput {
        width: 100%;
    }

    &:focus {
        & ~ .bar {
            width: 100%;
        }

        &.withError {
            & ~ .label {
                bottom: calc(var(--input-label-bottom) - var(--font-size-tiny) - 15px);
            }
        }

        & ~ .label {
            bottom: var(--input-label-bottom);
            font-size: var(--input-label-float-font-size);
        }
    }
}

.ghostInputElement {
    position: absolute;
    top: 0;
    z-index: 0;
    display: block;
    overflow: hidden;
    max-width: 100%;
    color: inherit;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;

    &.multiline {
        top: calc(
            2 * var(--input-label-float-font-size) + var(--input-label-offset)
        );
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

.label {
    position: absolute;
    bottom: var(--input-label-offset);
    display: block;
    overflow: hidden;
    color: var(--color-orange);
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size-tiny);
    transition-timing-function: var(--animation-curve-default);
    transition-duration: var(--animation-duration);
    transition-property: bottom, font-size;
}

.bar {
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-orange);
    content: '';
    transition-timing-function: var(--animation-curve-default);
    transition-duration: var(--animation-duration);
    transition-property: width;

    &.leftAnimation {
        left: 0;
    }

    &.centerAnimation {
        left: 50%;
        transform: translateX(-50%);
    }
}

.errorMessage {
    font-size: var(--font-size-tiny);
}

.errorText {
    display: inline-block;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    background-color: var(--color-error);
    box-shadow: var(--shadow-2p);
    color: var(--color-white-a60);
}
