@import '../../variables.css';
@import '../../components/Sidebar/Sidebar.css';

.page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: left var(--animation-duration) var(--animation-curve-default);
    will-change: left;

    &.shrinked {
        left: var(--sidebar-width);
        transition-delay: var(--animation-delay);
    }
}

.main {
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

@media screen and (max-width: 712px) {
    .page {
        &.shrinked {
            left: 0;
            transition-delay: var(--animation-delay);
        }
    }
}
