@import '../../variables.css';

.dropZone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px 0;
    border: 2px dashed var(--color-magenta);
    border-top-left-radius: inherit;
    background-color: var(--color-dark-blue);

    &.focused,
    &:hover,
    &.active {
        border: 2px dashed var(--color-orange);
    }

    &.active:after {
        position: absolute;
        z-index: var(--z-index-higher);
        width: 100%;
        height: 100%;
        border-top-left-radius: inherit;
        background-color: var(--color-white-a30);
        content: '';
        pointer-events: none;
        mix-blend-mode: hard-light;
    }

    &.rejected {
        border-style: solid;
        border-color: var(--color-error);
        background-color: color-mod(var(--color-error) a(40%));
    }

    &.disabled {
        opacity: 0.38;
    }

    &.filled {
        padding: 0;
    }
}

.fileInput {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.placeholder {
    & svg {
        fill: var(--color-text);
    }
}
