@import '../../variables.css';

.tagInput {
    position: relative;
    cursor: text;
}

.autoCompleteField {
    display: inline-block;
    margin-bottom: 12px;
    max-width: 100%;
    vertical-align: bottom;
}
