@import '../../variables.css';

.cover {
    display: block;
    width: 100%;
    border-top-left-radius: inherit;
}

.hidden {
    display: none;
}

.placeholder {
    box-sizing: border-box;
    padding: 25% 10px;
    width: 100%;
    border-top-left-radius: inherit;
    background-color: var(--color-gradient-claret);
}

.imageOutline {
    width: 100%;
    fill: var(--color-gradient-dark-blue);
}

.imageInner {
    fill: var(--color-orange);
}
