@import '../../variables.css';

:root {
    --list-vertical-padding: 8px;
    --list-horizontal-padding: 16px;
    --list-item-min-height: 48px;
    --list-hover-color: color-mod(var(--color-magenta) a(30%));
    --list-divider-line:
        0 -1px 0 0 var(--color-dark-blue-a60) inset,
        0 1px 0 0 var(--list-hover-color) inset;
    --list-item-hover-shadow:
        0 1px 0 0 var(--list-hover-color) inset,
        0 -1px 0 0 var(--color-dark-blue-a60) inset,
        5px 0 0 0 var(--color-magenta) inset;
    --list-item-selected-hover-shadow:
        0 1px 0 0 var(--list-hover-color) inset,
        0 -1px 0 0 var(--color-dark-blue-a60) inset,
        5px 0 0 0 var(--color-orange) inset;
}

.list {
    display: inline-block;
    margin: 0;
    padding: var(--list-vertical-padding) 0;
    width: 100%;
    list-style-type: none;
}

.listItem {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(34px, auto);
    grid-gap: 16px;
    box-sizing: border-box;
    padding: 0 var(--list-horizontal-padding);
    min-height: var(--list-item-min-height);
    box-shadow: var(--list-divider-line);
    color: var(--color-white);

    & .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: inherit;
    }

    & .sideContent {
        justify-self: center;
    }

    &:not(.disabled):focus-within,
    &:not(.disabled):hover {
        outline: none;
        box-shadow: var(--list-item-selected-hover-shadow);
        cursor: pointer;

        &:not(.selected) {
            background-color: var(--color-white-a12);
            box-shadow: var(--list-item-hover-shadow);
        }
    }
}

.selected {
    background-color: var(--color-magenta);
}

.itemText {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size-small);

    &.primary {
        font-weight: 700;
    }

    &.subContent {
        padding-top: 2px;
        font-size: var(--font-size-tiny);
    }
}
