@import '../../variables.css';

:root {
    --cover-width: 140px;
    --grid-gutter-size: 52px;
    --rating-bar-color: color-mod(var(--color-white) a(66%));
    --rating-bar-padding: 4px;
    --rating-bar-height: calc(23px + (var(--rating-bar-padding) * 2));
}

.grid {
    display: grid;
    align-content: flex-start;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, var(--cover-width));
    grid-gap: var(--grid-gutter-size);
    margin: 0 auto;
    text-align: center;

    & a:focus,
    & a:hover {
        outline: none;

        & .gridElement {
            transform: scale(1.1);
        }
    }
}

.gridElement {
    margin: 0;
    width: var(--cover-width);
    transition: transform var(--animation-duration) var(--animation-curve-default);
}

.coverContainer {
    position: relative;
    box-shadow: var(--shadow-4p);
}

.ratingBar {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    background: var(--rating-bar-color);
    color: var(--color-magenta);
}

.ratingEnter {
    bottom: calc(-1 * var(--rating-bar-height));
    opacity: 0;

    &.ratingEnterActive {
        bottom: 0;
        opacity: 1;
        transition: all var(--animation-duration) var(--animation-curve-default);
    }
}

.ratingLeave {
    bottom: 0;
    opacity: 1;

    &.ratingLeaveActive {
        bottom: calc(-1 * var(--rating-bar-height));
        opacity: 0;
        transition: all var(--animation-duration) var(--animation-curve-default);
    }
}

.caption {
    padding-top: 8px;
}

.title,
.subtitle {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
}

.subtitle {
    font-size: var(--font-size-tiny);
}

.titleTooltip {
    width: 100%;
}
