@import '../../components/DetailsCard/DetailsCard.css';

.detailsCard {
    flex-direction: column;
}

.importHeader {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr 100px;
    padding: 0.6rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: var(--card-header-gradient-background);
    justify-items: center;

    & .icon {
        width: 56px;
        height: 56px;
    }
}
