@import '../../../variables.css';

:root {
    --button-size: 24px;
    --button-disabled-opacity: 0.38;
}

.halo {
    width: var(--button-size);
    height: var(--button-size);
    background-color: transparent;
    text-transform: uppercase;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-small);
    transition-timing-function: var(--animation-curve-default);
    transition-duration: var(--animation-duration);
    transition-property: background, transform;

    &::before {
        position: absolute;
        top: -4px;
        left: -4px;
        padding: 3px;
        width: var(--button-size);
        height: var(--button-size);
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        content: '';
    }

    &.active:not(.disabled),
    &:focus-within:not(.disabled),
    &:hover:not(.disabled) {
        font-weight: var(--font-weight-bold);
        transform: scale(1.1);
    }

    &.disabled {
        opacity: var(--button-disabled-opacity);
    }

    &.magenta {
        color: var(--color-magenta);

        &::before {
            border-color: var(--color-magenta);
        }

        &.active:not(.disabled),
        &:focus:not(.disabled),
        &:hover:not(.disabled) {
            background-color: var(--color-magenta);
            color: var(--color-dark-blue);
        }
    }

    &.white {
        color: var(--color-white);

        &::before {
            border-color: var(--color-white);
        }

        &.active {
            background-color: var(--color-white);
            color: var(--color-orange);
        }
    }
}
