@import '../../../variables.css';

.tab {
    z-index: 1;
    flex-basis: 100%;
    flex-shrink: 1;
    padding: 0.5rem 1rem;
    height: 36px;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-small);

    &::before {
        position: absolute;
        top: -1px;
        right: 0;
        bottom: 1px;
        left: 0;
        z-index: -1;
        border: 1px solid var(--color-hover-magenta);
        border-bottom: 1px solid var(--color-orange);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        content: '';
        transform: perspective(calc(32px / 2)) rotateX(3deg);
    }

    &.active {
        z-index: 2;

        &::before {
            border: 1px solid var(--color-orange);
            border-bottom: 0 solid transparent;
            background: none;
            background-color: var(--color-gradient-claret);
            box-shadow: none;
        }
    }

    &:focus::before {
        background-color: color-mod(
            var(--color-gradient-claret) blend(var(--color-white) 12%)
        );
    }

    &:hover::before {
        background-color: var(--color-hover-magenta);
    }
}
