@import '../../variables.css';
@import '../../components/Button/buttonVariants/halo.css';
@import '../../components/Button/buttonVariants/tab.css';

.tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabHeader {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tabContent {
    display: flex;
    overflow: auto;
    flex-direction: column;
    height: inherit;
    outline: none;
}
