@import '../../variables.css';

.counter {
    padding: 0 6px;
    border-radius: 16px;
    background-color: var(--color-magenta);
    color: var(--color-dark-blue);
    font-size: var(--font-size-tiny);
}

.numberOfBooks,
.count {
    display: inline-block;
    padding: 4px 6px;
}

.count {
    position: relative;
    margin-left: 5px;

    &::before {
        position: absolute;
        top: 0;
        left: -2px;
        width: 2px;
        height: 100%;
        background-color: var(--color-dark-blue);
        content: '';
        transform: skewX(-30deg);
    }
}
