@import '../DetailsForm/DetailsForm.css';

.importForm {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;

    & .link {
        margin-top: 4px;
        border-radius: 3px;
        background-color: var(--color-orange);
        color: var(--color-dark-blue);

        &:focus,
        &:hover {
            outline: none;
            background-color: var(--color-hover-orange);
        }
    }
}
