@import '../../variables.css';

:root {
    --subheader-height: 48px;
}

.subHeader {
    margin: 0;
    text-transform: uppercase;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-small);
    line-height: var(--subheader-height);

    &.center {
        text-align: center;
    }

    &.left {
        text-align: left;
    }
}
