@import '../../variables.css';

body {
    margin: 0;
    padding: 0;
    font-family: var(--preferred-fonts);
}

.app {
    display: flex;
    height: 100vh;
    background-image:
        linear-gradient(
            to bottom right,
            var(--color-gradient-claret),
            var(--color-gradient-dark-blue)
        );
    color: var(--color-text);

    & a {
        color: inherit;
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-magenta);
}
