@import '../../variables.css';
@import '../Button/Button.css';
@import '../NavButtons/NavButtons.css';

:root {
    --card-min-width: 672px;
    --card-max-width-md: 960px;
    --card-max-width-lg: 1140px;
    --card-max-width-xl: 1320px;
    --card-padding: 16px;
    --card-border-radius: 10px;
    --card-gradient-background:
        linear-gradient(
            to top right,
            var(--color-gradient-claret) 30%,
            var(--color-gradient-dark-blue)
        );
    --card-header-horizontal-padding: 32px;
    --card-header-padding: 24px var(--card-header-horizontal-padding) 16px;
    --card-header-gradient-background:
        linear-gradient(
            to top right,
            var(--color-gradient-magenta) 30%,
            var(--color-gradient-orange)
        );
    --card-image-column-min-width: 260px;
    --navigation-button-size: calc(var(--icon-size) + 2 * var(--button-padding));
    --card-header-title-right-margin:
        calc(
            var(--navigation-button-size) * 3
            + (var(--gutter-size) * 4)
            - var(--card-header-horizontal-padding)
        );
}

.detailsCard {
    position: relative;
    display: flex;
    margin: 0 auto;
    min-width: var(--card-min-width);
    max-width: var(--card-max-width-md);
    border-radius: var(--card-border-radius);
    background: var(--card-gradient-background);
    box-shadow: var(--shadow-8p);
    font-size: var(--font-size);
}

@media (min-width: 1200px) {
    .detailsCard {
        max-width: var(--card-max-width-lg);
    }
}

.imageColumn {
    padding-bottom: 24px;
    min-width: var(--card-image-column-min-width);
    width: 25%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    & .image {
        width: 100%;
        border-top-left-radius: inherit;
    }
}

@media screen and (min-width: 1367px) {
    .detailsCard {
        max-width: var(--card-max-width-xl);
    }

    .imageColumn {
        max-width: 400px;
    }
}

.coverViewer {
    border-top-left-radius: inherit;
}

.placeholder {
    box-shadow: 0 0 180px 0 var(--color-dark-blue) inset;
}

.ratings {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--card-padding);
}

.starRating {
    padding: var(--card-padding) 0;
}

.interestLevel {
    width: 150px;
}

.booksitesRating {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.circleRating {
    box-sizing: border-box;
    margin: 0 auto;
    padding: var(--card-padding);
    max-width: 45%;
    text-align: center;

    & .title {
        margin-bottom: var(--card-padding);
        text-transform: uppercase;
        font-size: var(--font-size-tiny);
    }

    & .numberOfRatings {
        margin-top: calc(var(--card-padding) / 2);
        font-size: var(--font-size-normal);
    }
}

.infoGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.metaData {
    padding: var(--card-padding);
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
}

.metaDataLabel {
    color: var(--color-orange);
    text-transform: uppercase;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-tiny);
}

.identifiers {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 0 16px;
    width: 100%;

    & .identifier {
        display: grid;
        justify-content: start;
        grid-template-columns: repeat(2, auto);
        grid-gap: calc(var(--card-padding) / 2);

        &:focus,
        &:hover {
            outline: none;
            text-decoration: underline;
        }
    }

    & .identifier:first-child {
        margin-bottom: calc(var(--card-padding) / 2);
    }

    & .identifierIcon {
        color: var(--color-orange);
    }
}

.detailsColumn {
    padding-bottom: 24px;
    max-width: calc(100% - var(--card-image-column-min-width));
    width: 75%;
}

.cardHeader {
    padding: var(--card-header-padding);
    border-top-right-radius: var(--card-border-radius);
    background: var(--card-header-gradient-background);

    & .title {
        margin: 0 var(--card-header-title-right-margin) 10px 0;
        letter-spacing: 0.02em;
        font-weight: var(--font-weight-semi-bold);
        font-size: 24px;
    }

    & .subtitle {
        margin-bottom: calc(var(--card-padding) / 2);
        font-size: var(--font-size-big);
    }
}

.tagSection {
    padding: 24px 32px 0;
}

hr {
    margin: 20px 0 0;
    height: 1px;
    border: 0;
    background: var(--color-magenta);
}

.description {
    padding: 24px 32px;
}

.review {
    padding: 0 32px;

    & > hr {
        margin-bottom: 12px;
    }
}

.description,
.review {
    & p {
        margin: 0 0 1em 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & a {
        text-decoration: underline;
    }
}

.shelfTags {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 8px;
    padding: 8px 32px 0;

    & .shelfIcon {
        color: var(--color-orange);
    }
}

.navigation {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-orange);
}

.filterLink:focus,
.filterLink:hover {
    outline: none;
    text-decoration: underline;
}
