
@import '../DetailsForm/DetailsForm.css';

.tabsHeader {
    align-items: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0 0.4rem;
    height: 40px;

    & ~ section {
        overflow-x: hidden;
    }
}

.formHeader {
    border-top-left-radius: 10px;

    & > div:first-child {
        margin-right: 0;
    }
}

.formImageUpload {
    margin: 2rem auto 2rem;
    min-width: 260px;
    width: 25%;

    & .image {
        width: 100%;
    }
}

.formShelfTags {
    padding-bottom: 0.5rem;
}

.formInfoGroup {
    padding-bottom: 1.5rem;
}

.formDescription {
    padding: 0 1rem 1.5rem 1rem;
}
