@import '../../variables.css';

:root {
    --loader-border: 4px solid var(--color-bright-magenta);
    --loader-animation-timing: cubic-bezier(0.42, 0.61, 0.58, 0.41);
}

.loadingIndicator {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--color-dark-blue-a60);
}

.loader {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.loaderOutter {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: var(--loader-border);
    border-bottom: 0;
    border-left-color: transparent;
    border-radius: 50%;
    animation: loader-outter 1s var(--loader-animation-timing) infinite;
}

.loaderInner {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: var(--loader-border);
    border-top-color: transparent;
    border-right: 0;
    border-radius: 50%;
    animation: loader-inner 1s var(--loader-animation-timing) infinite;
}

@keyframes loader-outter {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes loader-inner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

