@import '../../variables.css';

:root {
    --search-size: 30px;
    --search-border-width: 1px;
    --search-hover-color: var(--color-orange);
    --close-button-size: 20px;
}

.searchField {
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 12px 0 12px;
    min-width: var(--search-size);
    height: var(--search-size);
    border: var(--search-border-width) solid var(--color-magenta);
    border-radius: 25px;

    &::after {
        position: absolute;
        top: calc(var(--search-size) * 0.67 + var(--search-border-width));
        right: -3px;
        width: var(--search-border-width);
        height: calc(var(--search-size) / 2);
        border-radius: 3px;
        background: var(--color-magenta);
        content: "";
        transition: height var(--animation-duration) var(--animation-curve-default);
        transform: rotate(-45deg);
    }

    &:not(.active):hover {
        border-color: var(--search-hover-color);
        cursor: pointer;

        &::after {
            background-color: var(--search-hover-color);
        }
    }

    &.active {
        margin-right: 0;

        &::after {
            height: 0;
        }

        & .searchInput {
            min-width: 200px;
        }
    }

    & .searchInput {
        box-sizing: border-box;
        min-width: 0;
        width: 0;
        outline-width: 0;
        border: none;
        background: transparent;
        color: inherit;
        font-size: var(--font-size-small);
        transition-timing-function: var(--animation-curve-default);
        transition-duration: var(--animation-duration);
        transition-property: width, min-width;
    }
}

.closeButton {
    box-sizing: border-box;
    padding: 2px;
    width: var(--close-button-size);
    height: var(--close-button-size);
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-white);
    line-height: 1em;
    cursor: pointer;

    &:focus,
    &:hover {
        outline: none;
        background-color: var(--color-magenta);
    }
}
