@import '../../variables.css';
@import '../Form/Input.css';

.editor {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-orange);

    & .paragraph {
        margin: 0 0 1em 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & .link {
        text-decoration: underline;
    }
}

.label {
    &.focused {
        bottom: var(--input-label-bottom);
        font-size: var(--input-label-float-font-size);
    }

    &.filled {
        bottom: var(--input-label-bottom);
        font-size: var(--input-label-float-font-size);
    }
}

.bar {
    &.focused {
        width: 100%;
    }
}

.toolbar {
    margin-bottom: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-magenta);
}

.controls {
    display: inline-block;
}

.popupButton {
    position: relative;
}

.inputPopup {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;
    display: flex;
    border: 1px solid var(--color-magenta);
    border-radius: 3px;
    background-color: var(--color-dark-blue);
    box-shadow: var(--shadow-4p);
    color: var(--color-white);
    cursor: auto;
    transition: all 0.1s ease;

    & input {
        display: inline-block;
        padding: 5px;
        outline: 0;
        border: 0;
        background-color: transparent;
        color: var(--color-white);
    }

    &::before {
        position: absolute;
        top: -11px;
        left: 10px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-bottom: 5px solid var(--color-magenta);
        content: '';
    }

    &::after {
        position: absolute;
        top: -8px;
        left: 11px;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-bottom: 4px solid var(--color-dark-blue);
        content: '';
    }
}

.inputButton {
    &:focus,
    &:hover {
        background-color: var(--color-magenta);
    }
}

.historyButtons {
    margin-left: 16px;
}
