@import '../../variables.css';

:root {
    --icon-gutter: 4px;
    --indicator-height: 5px;
    --slide-animation-transition: all var(--animation-duration) var(--animation-curve-default);
    --color-control-button-default: color-mod(var(--color-dark-blue) a(50%));
    --color-control-button-hover: color-mod(var(--color-dark-blue) a(60%));
}

.carousel {
    position: relative;
    border-top-left-radius: inherit;

    &:focus-within {
        outline: none;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 2px solid var(--color-orange);
            border-top-left-radius: inherit;
            content: '';
            pointer-events: none;
        }
    }

    &:focus-within,
    &:hover {
        & .controlButton {
            opacity: 0.5;
        }

        & .imageToolbar {
            opacity: 1;
        }
    }
}

.slides {
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top-left-radius: inherit;
}

.image {
    flex: 1 0 100%;
    border-top-left-radius: inherit;
}

.imageToolbar {
    position: absolute;
    top: calc(2 * var(--icon-gutter));
    left: 50%;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: var(--icon-gutter);
    opacity: 0;
    transform: translateX(-50%);

    & .heartIcon {
        color: var(--color-magenta);
    }
}

.controlButton {
    position: absolute;
    top: 0;
    padding: 10px;
    height: 100%;
    outline: 0;
    border: 0;
    background: var(--color-dark-blue-a60);
    color: var(--color-white);
    opacity: 0;
    cursor: pointer;

    & .icon {
        transition: transform var(--animation-duration) var(--animation-curve-default);
    }

    &.prev {
        left: 0;
        border-top-left-radius: inherit;
        background: linear-gradient(
            to right,
            var(--color-control-button-default),
            transparent
        );

        &:focus,
        &:hover {
            background: linear-gradient(
                to right,
                var(--color-control-button-hover),
                transparent
            );
        }
    }

    &.next {
        right: 0;
        background: linear-gradient(
            to left,
            var(--color-control-button-default),
            transparent
        );

        &:focus,
        &:hover {
            background: linear-gradient(
                to left,
                var(--color-control-button-hover),
                transparent
            );
        }
    }

    &.prev,
    &.next {
        &:focus,
        &:hover {
            opacity: 0.9;

            & .icon {
                transform: scale(1.35);
            }
        }
    }
}

.indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 var(--indicator-height);
    width: 100%;
    pointer-events: none;
}

.navigationItem {
    display: inline-block;
    flex: 0 1 50px;
    margin: 0 var(--indicator-height);
    list-style-type: none;
    cursor: pointer;
}

.pip {
    display: inline-block;
    width: 100%;
    height: var(--indicator-height);
    background-color: var(--color-white-a60);
    transition: background var(--animation-duration) var(--animation-curve-default);
    pointer-events: initial;

    &.selected {
        background-color: var(--color-orange);
    }
}

/* Animation */

.prevEnter {
    transform: translate(-100%, 0);

    &.prevEnterActive {
        transition: var(--slide-animation-transition);
        transform: translate(0, 0);
    }
}

.prevLeave {
    transform: translate(-100%, 0);

    &.prevLeaveActive {
        transition: var(--slide-animation-transition);
        transform: translate(0, 0);
    }
}

.lastEnter {
    order: 0;
    transform: translate(-100%, 0);

    &.lastEnterActive {
        order: 0;
        transition: var(--slide-animation-transition);
        transform: translate(0, 0);
    }
}

.lastLeave {
    order: 1;
    transform: translate(-100%, 0);

    &.lastLeaveActive {
        order: 1;
        transition: var(--slide-animation-transition);
        transform: translate(0, 0);
    }
}

.nextEnter {
    transform: translate(0, 0);

    &.nextEnterActive {
        transition: var(--slide-animation-transition);
        transform: translate(-100%, 0);
    }
}

.nextLeave {
    transform: translate(0, 0);

    &.nextLeaveActive {
        transition: var(--slide-animation-transition);
        transform: translate(-100%, 0);
    }
}

.firstEnter {
    order: 1;
    transform: translate(0, 0);

    &.firstEnterActive {
        order: 1;
        transition: var(--slide-animation-transition);
        transform: translate(-100%, 0);
    }
}

.firstLeave {
    order: 0;
    transform: translate(0, 0);

    &.firstLeaveActive {
        order: 0;
        transition: var(--slide-animation-transition);
        transform: translate(-100%, 0);
    }
}
