.editImport {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    grid-gap: 2rem;
    padding: 1rem 2rem 1.5rem;
}

@media screen and (max-width: 712px) {
    .editImport {
        grid-template-columns: 1fr;
    }
}
