@import '../../variables.css';

:root {
    --checkbox-color: var(--color-magenta);
    --checkbox-size: 18px;
    --checkbox-animation-duration: 0.2s;
    --checkbox-disabled-color-light: color-mod(var(--checkbox-color) s(0%));
    --checkbox-disabled-color-dark: color-mod(var(--color-dark-blue) a(72%) s(0%));
    --button-height: 24px;
    --button-margin: 5px;
}

.field {
    position: relative;
    display: block;
    padding: 9px 16px;
    white-space: nowrap;
    line-height: var(--checkbox-size);

    &:not(.disabled) {
        &:focus-within,
        &:hover {
            background-color: var(--color-white-a12);
        }
    }
}

.input {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}

.label {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: var(--font-size-small);
    line-height: var(--checkbox-size);
}

.check {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10px;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 1px solid var(--color-white);
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    transition-timing-function: var(--animation-curve-default);
    transition-duration: var(--checkbox-animation-duration);
    transition-property: background-color;

    &.checked {
        border-color: var(--checkbox-color);
        background-color: var(--checkbox-color);

        &::after {
            position: absolute;
            top: 0;
            left: 5px;
            box-sizing: border-box;
            width: 7px;
            height: 12px;
            border-style: solid;
            border-color: var(--color-gradient-dark-blue);
            border-top: 0;
            border-right-width: 2px;
            border-bottom-width: 2px;
            border-left: 0;
            content: '';
            transform: rotate(45deg);
            animation: checkmark-expand 140ms ease-out forwards;
        }
    }
}

.disabled {
    cursor: not-allowed;

    & > .check {
        border-color: var(--color-disabled-text);
        cursor: not-allowed;

        & + .label {
            color: var(--color-disabled-text);
        }

        &.checked {
            border-color: transparent;
            background-color: var(--checkbox-disabled-color-light);

            &::after {
                border-color: var(--checkbox-disabled-color-dark);
            }
        }
    }
}

@keyframes checkmark-expand {
    0% {
        top: 9px;
        left: 6px;
        width: 0;
        height: 0;
    }

    100% {
        top: 0;
        left: 5px;
        width: 7px;
        height: 12px;
    }
}
