@import '../../variables.css';

:root {
    --button-size: 30px;
    --button-border: 1px solid var(--color-magenta);
    --button-border-radius: 15px;
    --field-horizontal-padding: 15px;
    --edge-horizontal-padding: 24px;
    --arrow-left-padding: 6px;
}

.buttonGroup {
    display: inline-flex;
    height: var(--button-size);
}

.field {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 var(--field-horizontal-padding);
    border-top: var(--button-border);
    border-bottom: var(--button-border);
    color: var(--color-magenta);
    cursor: pointer;

    &:first-child {
        padding-left: var(--edge-horizontal-padding);
        border-left: var(--button-border);
        border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
    }

    &:last-child {
        padding-right: var(--edge-horizontal-padding);
        border-right: var(--button-border);
        border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
    }

    &.withDropdown {
        position: relative;
        padding-left: 5px;

        &::before,
        &::after {
            position: absolute;
            left: 20px;
            z-index: var(--z-index-higher);
            width: 0;
            height: 0;
            content: '';
            transform: translateX(-50%);
        }

        &::before {
            bottom: -12px;
            border: 6px solid transparent;
            border-top: 6px solid var(--color-magenta);
        }

        &::after {
            bottom: -8px;
            border: 4px solid transparent;
            border-top: 4px solid var(--color-dark-blue);
        }
    }

    &.selected {
        background-color: var(--color-magenta);
        color: var(--color-text);

        &.withDropdown::after {
            display: none;
        }

        &:hover.withDropdown::after {
            display: initial;
            border-top-color: var(--color-hover-magenta);
        }

        &:focus-within.withDropdown::after {
            display: initial;
            border-top-color: var(--color-orange);
        }
    }

    &:hover {
        background-color: var(--color-hover-magenta);
        color: var(--color-text);

        &.withDropdown::after {
            border-top-color: var(--color-hover-magenta);
        }
    }

    &:focus-within {
        box-shadow: inset 0 0 0 1px var(--color-orange);
        color: var(--color-text);
    }

    &.disabled {
        background-color: transparent;
        color: var(--color-disabled-text);
        cursor: auto;

        &.selected {
            background-color: var(--color-disabled-magenta);
        }

        &.withDropdown::before,
        &.withDropdown::after {
            display: none;
        }
    }
}

.input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    border: 0;
    opacity: 0;
}

.text {
    font-size: var(--font-size-small);
    line-height: 28px;
}
