@import '../../variables.css';

:root {
    --sidebar-width: calc(5 * var(--standard-increment));
    --sidebar-color:
        linear-gradient(
            to top right,
            var(--color-gradient-claret),
            var(--color-gradient-dark-blue)
        );
    --sidebar-shadow:
        4px 4px 5px 0 rgba(0, 0, 0, 0.14),
        1px 1px 10px 0 rgba(0, 0, 0, 0.12),
        2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    --sidebar-header-height: 140px;
    --sidebar-header-color:
        linear-gradient(
            to bottom right,
            var(--color-gradient-magenta),
            var(--color-gradient-orange)
        );
    --open-button-width: 16px;
    --open-button-color: var(--color-magenta);
}

.sidebar {
    position: fixed;
    left: calc(var(--sidebar-width) * -1);
    z-index: var(--z-index-highest);
    flex-shrink: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-image: var(--sidebar-color);
    box-shadow: var(--sidebar-shadow);
    transition: left var(--animation-duration) var(--animation-curve-default);
    will-change: left;

    &.opened {
        left: 0;
        transition-delay: var(--animation-delay);
    }
}

.toggleButton {
    position: absolute;
    top: 50%;
    left: var(--sidebar-width);
    z-index: var(--z-index-highest);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: var(--open-button-width);
    height: 100px;
    outline: none;
    border: 0;
    background-color: transparent;
    color: black;
    font-size: 32px;
    cursor: pointer;
    transform: translateY(-50%);

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 1px;
        z-index: -1;
        background-color: var(--open-button-color);
        box-shadow: var(--sidebar-shadow);
        content: "";
        transform: perspective(calc(var(--open-button-width) / 2)) rotateY(9deg);
    }

    &:focus,
    &:hover {
        &::before {
            background-color: var(--color-hover-magenta);
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    height: var(--sidebar-header-height);
    background-image: var(--sidebar-header-color);
}

.logo {
    width: 55%;
    height: 66%;
}

.image {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.content {
    height: calc(100% - var(--sidebar-header-height));
}

@media screen and (max-width: 712px) {
    .sidebar {
        position: fixed;
        left: calc(var(--sidebar-width) * -1);
        margin-left: 0;
        transition: left var(--animation-duration) var(--animation-curve-default);
        will-change: left;

        &.opened {
            left: 0;
        }
    }
}
