@import '../../variables.css';

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-highest);
    background-color: color-mod(var(--color-black) a(60%));
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(
        to top right,
        var(--color-gradient-claret) 30%,
        var(--color-gradient-dark-blue)
    );
    box-shadow: var(--shadow-24p);
    color: var(--color-text);

    @media screen and (min-width: 500px) {
        top: 50%;
        left: 50%;
        max-width: 30em;
        max-height: calc(100% - 1em);
        height: auto;
        transform: translate(-50%, -50%);
    }
}

.button {
    margin-left: 1rem;
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: var(--color-orange);
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    line-height: 1em;
    cursor: pointer;

    &:focus,
    &:hover {
        background-color: var(--color-hover-orange);
    }

    &.primary {
        background-color: var(--color-magenta);

        &:focus,
        &:hover {
            background-color: var(--color-hover-magenta);
        }
    }
}

.title {
    flex-grow: 0;
    margin: 0 0 1rem;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: var(--font-size-large);
    line-height: 1;
}

.textContent {
    margin-bottom: 2em;
    color: var(--color-white-a60);
}

.dialogActions {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    grid-gap: 1rem;
}
