:root {
    --label-width: 100px;
}

.importBook {
    padding-bottom: 1rem;
}

.importFields {
    display: grid;
    grid-template-columns: var(--label-width) 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem 1rem;
    justify-items: center;

    & > *:first-child {
        grid-column-start: 2;
    }
}
