@import '../DetailsCard/DetailsCard.css';

:root {
    --input-field-gap: 16px;
    --series-number-width: 50px;
    --card-header-title-right-margin:
        calc(
            var(--navigation-button-size) * 2
            + (var(--gutter-size) * 3)
            - var(--card-header-horizontal-padding)
        );
}

.starRating:focus-within,
.starRating:hover {
    position: relative;

    & div {
        outline: none;

        &::after {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-orange);
            content: '';
        }
    }
}

.circleRating {
    display: grid;
    grid-gap: var(--input-field-gap);

    & .title {
        margin-bottom: 0;
    }
}

.identifiers {
    & .identifier {
        align-items: center;
        box-sizing: border-box;
        padding: 0 18%;
    }
}

.metaData {
    flex: 1;
    line-height: normal;
}

.cardHeader {
    & .title {
        margin-right: var(--card-header-title-right-margin);
    }

    & .authors {
        padding-top: var(--input-field-gap);
    }

    & .subtitle {
        display: flex;
        padding-top: var(--input-field-gap);
    }

    & .seriesTitle {
        max-width: calc(
            100% - (var(--series-number-width) + var(--input-field-gap))
        );
    }

    & .seriesIndex {
        display: inline-block;
        margin-left: var(--input-field-gap);
        width: var(--series-number-width);
    }
}

.genres {
    margin-bottom: 20px;
}

.description {
    padding: 4px 32px 32px;
}

.review {
    padding: 4px 32px 24px;

    & > hr {
        margin-bottom: 4px;
    }
}

.shelfTagFields {
    padding: 8px 32px 0;
}
