@import '../../variables.css';

:root {
    --chip-height: 24px;
    --chip-padding: 12px;
    --chip-margin-right: 5px;
    --chip-disabled-color-light: color-mod(var(--color-magenta) s(0%));
    --chip-disabled-color-dark: color-mod(var(--color-dark-blue) a(72%) s(0%));
    --chip-delete-button-size: 24px;
    --chip-delete-icon-margin: 4px;
}

.chip {
    display: inline-flex;
    box-sizing: border-box;
    margin-right: var(--chip-margin-right);
    margin-bottom: var(--chip-padding);
    padding: 0;
    border: 1px solid transparent;
    border-radius: var(--chip-height);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size-small);
    line-height: var(--chip-height);

    & .label {
        padding: 0 var(--chip-padding);
    }

    &.magenta {
        border-color: var(--color-magenta);
    }

    &.orange {
        border-color: var(--color-gradient-orange);
    }

    &.deletable .label {
        padding-right: 0;
    }

    &.inputStyle {
        border-width: 0;
        border-color: var(--color-orange);
        border-bottom-width: 1px;
        border-radius: 0;
        font-size: inherit;

        & .label {
            padding: 0 calc(var(--chip-padding) / 2) 0 0;
        }
    }

    &.hoverable {
        cursor: pointer;

        &:focus-within:not(.disabled),
        &:hover:not(.disabled) {
            background-color: var(--color-white-a12);
        }
    }

    &.checked {
        background-color: var(--color-magenta);

        &:focus-within:not(.disabled),
        &:hover:not(.disabled) {
            background-color: var(--color-hover-magenta);
        }
    }

    &.disabled {
        border-color: var(--color-disabled-text);
        color: var(--color-disabled-text);
        cursor: not-allowed;

        &.checked {
            border-color: var(--chip-disabled-color-light);
            background-color: var(--chip-disabled-color-dark);
        }
    }
}

.deleteButton {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 var(--chip-delete-icon-margin);
    padding: 0 var(--chip-delete-icon-margin);
    cursor: pointer;

    &:hover:not(.square) .deleteIcon {
        border-radius: 50%;
        background-color: var(--color-magenta);
    }

    &.square {
        margin: 0;

        &:hover {
            background-color: var(--color-orange);
        }
    }

    &.disabled .deleteIcon {
        border-radius: 50%;
        background-color: var(--color-magenta);
        color: var(--color-dark-blue);
    }
}
