@import '../../containers/ImportBook/ImportBook.css';

:root {
    --imported-data-padding: 1rem 1rem;
}

.importedData {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: var(--imported-data-padding);
}

.dataRow,
.importLoaders {
    display: grid;
    align-items: baseline;
    grid-template-columns: var(--label-width) 1fr 1fr;
    grid-gap: 1rem;

    & .goodreadsData,
    & .goodreadsLoader {
        grid-column-start: 2;
    }

    & .amazonData,
    & .amazonLoader {
        grid-column-start: 3;
    }

    &.single {
        grid-template-columns: var(--label-width) 1fr;

        & .goodreadsData,
        & .amazonData {
            grid-column-start: 2;
        }
    }
}

.dataRow a {
    text-decoration: underline;
}

.dataRowLabel {
    color: var(--color-orange);
    text-align: right;
    font-size: var(--font-size-tiny);
    line-height: 1.5em;
}

.importLoaders {
    position: absolute;
    box-sizing: border-box;
    padding: var(--imported-data-padding);
    width: 100%;
    height: 100%;
    pointer-events: none;

    & .goodreadsLoader,
    & .amazonLoader {
        position: initial;
        align-items: flex-start;
        box-sizing: border-box;
        padding-top: 156px;
    }
}
