@import '../../variables.css';

:root {
    --appbar-height: 54px;
}

.toaster {
    position: fixed;
    top: calc(var(--appbar-height) + 0.5rem);
    right: 1rem;
    z-index: var(--z-index-highest);
    width: 320px;
}

.toast {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    min-height: 64px;
    max-height: 800px;
    border-radius: 5px;
    background-color: var(--color-error);
    box-shadow: var(--shadow-4p);
}

.toastBody {
    flex: 1;
    margin: auto 0;
}

.toastEnter {
    transform: translateX(110%);

    &.toastEnterActive {
        transition: transform var(--animation-duration) var(--animation-curve-default);
        transform: translateX(0);
    }
}

.toastLeave {
    transform: translateX(0);

    &.toastLeaveActive {
        transition: transform var(--animation-duration) var(--animation-curve-default);
        transform: translateX(110%);
    }
}

.progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-highest);
    width: 100%;
    height: 5px;
    background-color: var(--color-disabled-text);
    transform-origin: left;
    animation: progressAnimation linear 1 forwards;
}

@keyframes progressAnimation {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

.closeButton {
    align-self: flex-start;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    color: var(--color-dark-blue);
    opacity: 0.3;
    cursor: pointer;
    transition: opacity var(--animation-duration) var(--animation-curve-default);

    &:hover,
    &:focus {
        opacity: 1;
    }
}
