@import '../../variables.css';

:root {
    --tooltip-margin: 5px;
    --tooltip-negative-margin: calc(-1 * var(--tooltip-margin));
}

[data-tooltip] {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

[data-tooltip]::before,
[data-tooltip]::after {
    position: absolute;
    top: 100%;
    right: 50%;
    z-index: var(--z-index-highest);
    display: inline-block;
    visibility: hidden;
    box-sizing: inherit;
    border: none;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    font-weight: var(--font-weight-thin);
    font-style: normal;
    font-size: var(--font-size-small);
    line-height: 18px;
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: opacity, visibility, transform;
    pointer-events: none;
}

/** tooltip body **/
[data-tooltip]::before {
    padding: 9px 13px;
    border-radius: 3px;
    background: var(--color-dark-blue);
    box-shadow: var(--shadow-2p);
    color: var(--color-white);
    content: attr(data-tooltip);
    white-space: pre;
    word-wrap: break-word;
}

/** tooltip pointer **/
[data-tooltip]::after {
    border: 5px solid transparent;
    border-bottom-color: var(--color-dark-blue);
    content: '';
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}

.top::before,
.top::after {
    top: auto;
    bottom: 100%;
    transform-origin: center bottom;
}

.top::before {
    margin-bottom: var(--tooltip-margin);
}

.top::after {
    margin: 0 0 var(--tooltip-negative-margin) var(--tooltip-margin);
    border-color: transparent;
    border-top-color: var(--color-dark-blue);
}

.bottom::before,
.bottom::after {
    transform-origin: center top;
}

.bottom::before {
    margin-top: var(--tooltip-margin);
}

.bottom::after {
    margin: var(--tooltip-negative-margin) 0 0 var(--tooltip-negative-margin);
    border-color: transparent;
    border-bottom-color: var(--color-dark-blue);
}

.top::before,
.top::after,
.bottom::before,
.bottom::after {
    transform: translateX(50%) scale(0, 0);
}

.top:hover::before,
.top:hover::after,
.bottom:hover::before,
.bottom:hover::after {
    transform: translateX(50%) scale(1, 1);
}

.right::after,
.left::after {
    margin: var(--tooltip-margin) var(--tooltip-negative-margin) 0 var(--tooltip-negative-margin);
    border-color: transparent;
}

.right::before,
.right::after {
    right: auto;
    left: 100%;
    transform-origin: left center;
}

.right::before {
    margin-left: var(--tooltip-margin);
}

.right::after {
    border-right-color: var(--color-dark-blue);
}

.left::before,
.left::after {
    right: 100%;
    left: auto;
    transform-origin: right center;
}

.left::before {
    margin-right: var(--tooltip-margin);
}

.left::after {
    border-left-color: var(--color-dark-blue);
}

.right::before,
.right::after,
.left::before,
.left::after {
    top: auto;
    bottom: 50%;
    transform: translateY(50%) scale(0, 0);
}

.right:hover::before,
.right:hover::after,
.left:hover::before,
.left:hover::after {
    transform: translateY(50%) scale(1, 1);
}
