@import '../../variables.css';

:root {
    --slider-border-radius: 6px;
    --slider-line-height: 1px;
    --handle-size: 16px;
    --handle-half-size: calc(var(--handle-size) / 2);
}

.rangeSlider {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px 0 0;
    width: 80%;
    height: 36px;
    border-radius: var(--slider-border-radius);

    &.disabled {
        & .rail {
            background-color: var(--color-disabled-orange);
        }

        & .track {
            background-color: var(--color-disabled-magenta);
        }

        & .handle {
            border-color: var(--color-disabled-orange);
            background-color: color(var(--color-gradient-claret) s(0%));
            box-shadow: none;
            cursor: not-allowed;
        }

        & .markText {
            cursor: not-allowed;
        }
    }
}

.rail {
    position: absolute;
    width: 100%;
    height: var(--slider-line-height);
    border-radius: var(--slider-border-radius);
    background-color: var(--color-white-a60);
}

.track {
    position: absolute;
    left: 0;
    height: var(--slider-line-height);
    border-radius: var(--slider-border-radius);
    background-color: var(--color-magenta);
}

.handle {
    position: absolute;
    display: flex;
    margin-top: calc(var(--handle-size) / 2 * -1);
    margin-left: calc(var(--handle-size) / 2 * -1);
    pointer-events: none;
}

.circle {
    box-sizing: border-box;
    width: var(--handle-size);
    height: var(--handle-size);
    border: solid 1px var(--color-magenta);
    border-radius: 50%;
    background-color: var(--color-gradient-claret);
    cursor: grab;
    pointer-events: initial;

    &:focus,
    &:hover {
        outline: none;
        border-color: var(--color-orange);
        background-color: var(--color-magenta);
        transform: scale(1.2);
    }

    &.firstHalf {
        width: var(--handle-half-size);
        border-right: 0;
        border-radius: var(--handle-half-size) 0 0 var(--handle-half-size);
    }

    &.secondHalf {
        width: var(--handle-half-size);
        border-left: 0;
        border-radius: 0 var(--handle-half-size) var(--handle-half-size) 0;
        transform: translateX(var(--handle-half-size));

        &:focus,
        &:hover {
            transform: translateX(var(--handle-half-size)) scale(1.2);
        }
    }
}

.mark {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    font-size: var(--font-size-tiny);

    &.centered {
        top: calc(var(--handle-size) / 2);
        left: 50%;
        width: calc(100% - var(--handle-size));
        transform: translateX(-50%);
    }
}

.markText {
    position: absolute;
    display: inline-block;
    color: var(--color-white-a60);
    vertical-align: middle;
    text-align: center;
    transform: translateX(-50%);
}
