@import '../../variables.css';

.circularProgressbar {
    width: 100%;
}

.trail {
    stroke: var(--color-white-a60);
}

.path {
    transition: stroke-dashoffset 1.2s ease 0s;
    stroke-linecap: round;
    stroke: var(--color-magenta);
}

.text {
    font-size: 32px;
    fill: var(--color-white);
    dominant-baseline: middle;
    text-anchor: middle;
}
