@import '../../variables.css';

:root {
    --tab-label-margin: 40px;
}

.tabHeader {
    position: absolute;
    top: -60px;
    padding: 16px 0;
}

.tabLabel:nth-child(n+2) {
    margin-left: var(--tab-label-margin);
}

.booksPagination {
    margin: 8px 0 16px;
}
