:root {
    --color-dark-blue: rgb(13, 23, 32);
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 253, 254);
    --color-magenta: rgb(192, 41, 66);
    --color-orange: rgb(247, 142, 87);
    --color-bright-magenta: rgb(245, 0, 87);

    --color-gradient-magenta: rgb(196, 64, 85);
    --color-gradient-orange: rgb(246, 140, 90);
    --color-gradient-dark-blue: rgb(24, 28, 37);
    --color-gradient-claret: rgb(69, 27, 41);

    --color-text: var(--color-white);
    --color-disabled-text: color-mod(var(--color-white) a(38%));
    --color-white-a12: color-mod(var(--color-white) a(12%));
    --color-white-a30: color-mod(var(--color-white) a(30%));
    --color-white-a60: color-mod(var(--color-white) a(60%));

    --color-dark-blue-a60: color-mod(var(--color-dark-blue) a(60%));
    --color-hover-magenta: color-mod(var(--color-magenta) shade(24%));
    --color-hover-orange: color-mod(var(--color-orange) shade(24%));
    --color-disabled-magenta: color-mod(var(--color-magenta) a(38%) s(0%));
    --color-disabled-orange: color-mod(var(--color-orange) a(38%) s(0%));
    --color-disabled-dark-blue: color-mod(var(--color-dark-blue) a(38%) s(0%));
    --color-error: rgb(153, 0, 32);

    --unit: 10px;
    --standard-increment: 56px;

    --preferred-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-size: 16px;
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-big: 18px;
    --font-size-large: 20px;
    --font-size-normal: var(--font-size);
    --font-weight-thin: 300;
    --font-weight-normal: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --icon-size: 24px;

    --shadow-2p:
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);

    --shadow-4p:
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);

    --shadow-8p:
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.2);

    --shadow-24p:
        0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12);

    --shadow-4p-inset:
        0 4px 5px 0 rgba(0, 0, 0, 0.14) inset,
        0 1px 10px 0 rgba(0, 0, 0, 0.12) inset,
        0 2px 4px -1px rgba(0, 0, 0, 0.2) inset;

    --animation-duration: 0.35s;
    --animation-delay: calc(var(--animation-duration) / 5);
    --animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-curve-default: var(--animation-curve-fast-out-slow-in);

    --z-index-highest: 300;
    --z-index-higher: 200;
    --z-index-high: 100;
}
