@import '../../variables.css';

:root {
    --rating-filter-height: 96px;
    --filter-toggle-button-horizontal-offset: 33%;
    --filter-toggle-button-width: 34%;
    --filter-toggle-button-height: 16px;
}

.ratingFilters {
    overflow: hidden;
}

.dropdownPanel {
    transition-timing-function: var(--animation-curve-default);
    transition-duration: var(--animation-duration);
    transition-property: height, opacity;
}

.dropdownPanelEnter {
    height: 0;
    opacity: 0;

    &.dropdownPanelEnterActive {
        height: calc(var(--rating-filter-height) * 2);
        opacity: 1;
    }
}

.dropdownPanelLeave {
    height: calc(var(--rating-filter-height) * 2);
    opacity: 1;

    &.dropdownPanelLeaveActive {
        height: 0;
        opacity: 0;
    }
}

.toggle {
    position: relative;
    margin: var(--filter-toggle-button-height) 0;
    width: 100%;
    height: var(--filter-toggle-button-height);

    &::before,
    &::after {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 30%;
        border-top: 1px solid var(--color-magenta);
        content: '';
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &:hover,
    &:focus-within:hover {
        & .toggleButton,
        &::before,
        &::after {
            border-color: var(--color-hover-magenta);
        }
    }

    &:focus-within {
        &::before,
        &::after {
            border-color: var(--color-orange);
        }
    }
}

.toggleButton {
    position: absolute;
    top: 1px;
    right: var(--filter-toggle-button-horizontal-offset);
    bottom: 0;
    left: var(--filter-toggle-button-horizontal-offset);
    margin: 0;
    padding: 0;
    width: var(--filter-toggle-button-width);
    height: var(--filter-toggle-button-height);
    border: 1px solid var(--color-magenta);
    border-top: 0;
    background-color: transparent;
    cursor: pointer;
    transform: perspective(calc(var(--filter-toggle-button-height) / 2))
        rotateX(-9deg);

    &:hover {
        border-color: var(--color-hover-magenta);
    }

    &:focus {
        outline: 0;
        border-color: var(--color-orange);

        &:hover {
            border-color: var(--color-hover-magenta);
        }
    }
}
