@import '../../variables.css';

:root {
    --slider-border-radius: 6px;
    --slider-line-height: 1px;
    --handle-size: 16px;
}

.slider {
    padding: 16px 0;
    width: 100%;
}

.header {
    position: relative;
    padding-bottom: 4px;
    height: 26px;
    text-align: center;
    font-size: var(--font-size-tiny);
    line-height: 26px;
}

.label {
    text-transform: uppercase;
    transition: opacity var(--animation-duration) var(--animation-curve-default);
}

.output {
    position: absolute;
    top: 0;
    width: 100%;
    height: 26px;
    border-radius: 3px;
    background: var(--color-magenta);
    box-shadow: var(--shadow-4p);
    transition: opacity var(--animation-duration) var(--animation-curve-default);
}

.headerEnter {
    opacity: 0;

    &.headerEnterActive {
        opacity: 1;
    }
}

.headerLeave {
    opacity: 1;

    &.headerLeaveActive {
        opacity: 0;
    }
}

.sliderInput {
    margin: 0 auto;
    width: 100%;
    height: var(--slider-line-height);
    outline: none;
    background: var(--color-magenta);
    appearance: none;

    &::-webkit-slider-thumb {
        width: var(--handle-size);
        height: var(--handle-size);
        border: 1px solid var(--color-magenta);
        border-radius: 50%;
        background-color: var(--color-gradient-claret);
        appearance: none;
    }

    &::-moz-range-thumb {
        width: var(--handle-size);
        height: var(--handle-size);
        border: 1px solid var(--color-magenta);
        border-radius: 50%;
        background-color: var(--color-gradient-claret);
    }

    &:not(.readOnly) {
        &:focus {
            &::-webkit-slider-thumb {
                border-color: var(--color-orange);
                background-color: var(--color-magenta);
                cursor: grab;
                transform: scale(1.2);
            }

            &::-moz-range-thumb {
                border-color: var(--color-orange);
                background-color: var(--color-magenta);
                cursor: grab;
                transform: scale(1.2);
            }
        }

        &::-webkit-slider-thumb:hover {
            border-color: var(--color-orange);
            background-color: var(--color-magenta);
            cursor: grab;
            transform: scale(1.2);
        }

        &::-moz-range-thumb:hover {
            border-color: var(--color-orange);
            background-color: var(--color-magenta);
            cursor: grab;
            transform: scale(1.2);
        }
    }
}

.marksLine {
    position: relative;
    height: 24px;
}
